# TODO: Update with exact module version

# If you are using CUDA, you need to manually install the CUDA-compatible version.
# https://pytorch.org
#
# torch>=1.7　
# torchvision

numpy
opencv_python
loguru
tqdm
thop
ninja
tabulate
psutil
tensorboard

# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
# onnx>=1.13.0
# onnx-simplifier==0.4.10
